body{
    background-color: khaki;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#table1{
    border-collapse:collapse;
    margin: auto;
    margin-top: 52px;
    text-align: center;
    border: 3px blue solid;
    width: 500px;
}